
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;700;800&display=swap');

  *{
      font-family: 'Work Sans', sans-serif;
  }
  .btn-primary{
    background-color: #FF900E;
    font-size: 1.25rem;
    padding: 15px 20px;
    text-align: center;
    border-radius:10px;
    color: #ffffff
    ;
    font-weight: 600;
    cursor: pointer;
    border: 0;
  
  }
header{
  padding: 50px 240px;
  background-color: rgba(255, 114, 14, 0.10);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;
}
.nav-title{
  font-size: 3.8rem;
  font-weight: 700;
  color: #131313;
}
/* banner contet */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-description{
  color: #727272;
  font-size: 18px;
}
.banner-title{
  font-size: 3.2rem;
   font-weight: 900;
}
.banner img{
  margin-top: 20px;
  width: 100%;
}
/* responsive media mobile */
@media screen and (max-width:576px){
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  }
}
/* responsiv for tablet */
@media screen and (min-width:576px) and (max-width:960px) {
  nav{
    flex-direction: column;
  }
  header{
    padding: 50px;
  }
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

/* team styles */
.team-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.2rem;
  margin-top: 50px;
  margin-bottom: 40px;
}
.team-containt{
  padding-right: 70px;
  padding-left: 70px;
}
.team-title{
  font-size: 2.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.our{
  color: #727272;
}
.text-features{
  color: #FF900E;
}
.team-discription{
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px
}
@media screen and (max-width:576px) {
  .team-container{
    flex-direction:column;
    
  }
  .team-img-container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
}
@media screen and (min-width:576px) and (max-width:960px) {
  .team-container{
    flex-direction:column;
  }
  .team-img-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
}